$darkblue: #102b38;
$borderblue: #0f2a37;
$ligthblue: #1a3a49;
$clearblue: #658b97;
$green: #4dd163;
$gold: #e8b923;
$darkgray: #212529;
$white: white;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: $darkblue;
    background-color: #0c1b2f;
    font-family: 'Lato', sans-serif;
}

h4 {
    color: white;
}

h6 {
    color: $white;
    margin-right: 50px;
    margin-bottom: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.topBar {
    background-color: #212529;
    height: 30px;
    padding: 0;
}

.menubar {
    width: 190px;
    height: 96vh;
    color: $white;
    padding: 0;
    background-color: #212529;

    .tool {
        height: 17vh;
        background-color: #212529;
        border-right: none;
    }

    .power {
        height: 28vh;

        img:hover {
            filter: drop-shadow(0px 0px 2px $white);
            transition: all 0.2s;
        }
    }
}

h4 {
    padding-top: auto;
    padding-bottom: auto;
    margin-bottom: 0;
}

.tool:hover {
    background-color: $darkblue;
    background-color: #0c1b2f;
    transition: all 0.2s;
}

.scanning {
    margin-top: 50px;
}

.quickLink {
    text-decoration: none;
}

.scanButton {
    height: 200px;
    background-color: #13243a;
    border: 1px solid #0c1b2f;
}

.scanButton:hover {
    box-shadow: #11112a 1px 1px 5px 1px;
    transform: scale(1.02);
    transition: all 0.2s;
}

.webProtection {
    @extend .scanButton;
    height: 105px;
    padding-left: 40px;
}

.webProtection:hover {
    transform: none;
}

.browsers {
    p {
        color: $white;
    }
}

.form-check-input:checked {
    background-color: #4dd163;
    background-color: #53ff5c;
    border-color: #4dd163;
    border-color: #53ff5c;
    border-top-color: rgb(77, 209, 99);
    border-right-color: rgb(77, 209, 99);
    border-bottom-color: rgb(77, 209, 99);
    border-left-color: rgb(77, 209, 99);
}

.browserOption {
    color: $white;
    font-size: 18px;
}

.update {
    @extend .webProtection;
    padding-left: 0;
}

.update:hover {
    transform: scale(1.03);
    transition: all 0.1s;
}

.pro {
    @extend .webProtection;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
}

.pro:hover {
    transform: scale(1.03);
    transition: all 0.2s;
}

.description {
    h3 {
        color: $white;
        padding-left: 25px;
        margin-bottom: 0;
    }

    p {
        color: $white;
        padding-left: 25px;
        margin-bottom: 0;
    }
}

.trialButton {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        color: $white;
        font-size: 18px;
    }
}

.btn-success {
    background-color: $gold;
    border: 1px solid $gold;
    font-size: 18px;
    color: $darkgray;
}

.btn-success:hover {
    @extend .btn-success;
    opacity: 70%;
    transition: all 0.5s;
}

.badge {
    background-color: $gold !important;
    color: $darkgray;
}

.lockedService {
    @extend .scanButton;
    height: 100px;

    h4 {
        color: $clearblue;
        line-height: 50px;
    }
}

.lockedService:hover {
    transform: none;
}

.creditos {
    color: $white;
    margin-top: 20px;
    text-align: center;
}