$darkgray: #212529;
$gold: #e8b923;
$white: white;
$darkMenu: #212529;
$disabled: #7d8a9b;
$bg-box: #3f4752;
$bg-general: #2c2e43;
$info: #b8c3c9;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    // background-color: lighten($color: #0c1b2f, $amount: 2);
    // background-color: #2f3642;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: $white;
    font-size: 50px;
}

h4 {
    color: $white;
    font-size: 22px;
}

h6 {
    color: $white;
    margin-bottom: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.topBar {
    background-color: $darkMenu;
    height: 30px;
    padding: 0;

    .language {
        margin-right: 20px;
        cursor: pointer;

        .languageOption {
            padding-left: 10px;
        }
    }

    h6 {
        margin-right: 50px;
    }
}

.menuBar {
    width: 190px;
    height: 96vh;
    color: $white;
    padding: 0;
    background-color: $darkMenu;

    .tool {
        height: auto;
        border-right: none;
        cursor: pointer;
    }

    .toolPro {
        height: auto;
        border-right: none;

        h6 {
            color: $disabled;
        }
    }

    .power {

        img {
            cursor: pointer;
        }

        img:hover {
            filter: drop-shadow(0px 0px 2px $white);
            transition: all 0.2s;
        }
    }
}

h4 {
    padding-top: auto;
    padding-bottom: auto;
    margin-bottom: 0;
}

.scanning {
    margin-top: 50px;
}

.scanButton {
    height: 205px;
    width: 33%;
    background-color: $bg-box;
    border-radius: 6px;
    padding-top: 5px;
    cursor: pointer;

    p {
        color: $info;
        font-size: 15px;
        margin-bottom: 0;
    }
}

.scanButton:hover {
    transform: scale(1.01);
    transition: all 0.2s;
}

.webProtection {
    width: 66.5%;
    background-color: $bg-box;
    height: 105px;
    padding-left: 40px;
    border-radius: 6px;
}

.webProtection:hover {
    transform: none;
    box-shadow: none;
}


.form-check-input:checked {
    background-color: #4dd163;
    background-color: #53ff5c;
    border-color: #4dd163;
    border-color: #53ff5c;
    border-top-color: rgb(77, 209, 99);
    border-right-color: rgb(77, 209, 99);
    border-bottom-color: rgb(77, 209, 99);
    border-left-color: rgb(77, 209, 99);
}

.browserOption {
    color: $white;
    font-size: 18px;
}

.update {
    width: 33%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 6px;
    cursor: pointer;
}

// .update:hover {
//     transform: scale(1.01);
//     transition: all 0.2s;
// }

.position {
    height: 105px;
    position: absolute;
}

.updated {
    height: 100%;
    width: 100%;
    background-color: #198754;
    border-radius: 6px;
    padding-left: 0;
    padding-right: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #198754;
    border-radius: 6px;
    padding-left: 0;
    padding-right: 0;
    animation: animate 20s ease-out;
}

@keyframes animate {
    0% {
        width: 0;
    }

    100% {
        width: 100;
    }
}

.spin {
    animation: spin 20s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(5400deg);
    }
}

.pro {
    height: auto;
    background-color: $bg-box;
    border-radius: 6px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
}

.pro:hover {
    transform: scale(1.03);
    transition: all 0.2s;
}

.description {
    h3 {
        color: $white;
        padding-left: 25px;
        margin-bottom: 0;
    }

    p {
        color: $white;
        padding-left: 25px;
        margin-bottom: 0;
    }
}

.trialButton {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        color: $white;
        font-size: 18px;
        padding-top: 10px;
    }
}

.btn-success {
    background-color: $gold;
    border: 1px solid $gold;
    font-size: 18px;
    color: $darkgray;
}

.btn-success:hover {
    @extend .btn-success;
    opacity: 70%;
    transition: all 0.5s;
}

.badge {
    background-color: $gold !important;
    color: $darkgray;
}

.lockedService {
    @extend .scanButton;
    height: 100px;
    width: 24.7%;
    cursor: default;

    h4 {
        color: $disabled;
        line-height: 50px;
    }
}

.lockedService:hover {
    box-shadow: none;
    transform: none;
}

.creditos {
    color: $white;
    margin-top: 20px;
    text-align: center;
}

// ------------------- QUARANTINE CONTENT 

.t1 {
    width: 30%;
}

.t2 {
    width: 10%;
}

.t3 {
    width: 10%;
}

.t4 {
    width: 30%;
}

.remove {
    height: 60px;
    border-radius: 6px;
    color: $white;
    font-size: 22px;
    background-color: #198754;
    border: none;
}

.remove:hover {
    color: $white;
    background-color: #198754;
    border: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.active {
    background-color: $bg-general;
}

// ------------------- QUARANTINE CONTENT

.off {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: #212529;
    top: 0;
    animation: off 0s ease-in;
    z-index: 3;
}

@keyframes off {
    0% {
        width: 0;
    }

    100% {
        width: 100;
    }
}

.tarjeta {
    border: 1px solid $white;
    border-radius: 6px;
}

.info {
    z-index: 4;

    .nombre {
        color: $white;
    }

    .profesion {
        color: $white;
    }
}

// ------------------- BACKGROUND 

/* ---- reset ---- */

canvas {
    display: block;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 96vh;
    background-color: $bg-general;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}