* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #102b38;
  background-color: #0c1b2f;
  background-color: #0e2037;
  background-color: #2f3642;
  font-family: 'Lato', sans-serif;
}

h4 {
  color: white;
  font-size: 22px;
}

h6 {
  color: white;
  margin-bottom: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.topBar {
  background-color: #212529;
  height: 30px;
  padding: 0;
}

.topBar h6 {
  margin-right: 50px;
}

.menubar {
  width: 190px;
  height: 96vh;
  color: white;
  padding: 0;
  background-color: #212529;
}

.menubar .tool {
  height: auto;
  border-right: none;
}

.menubar .tool:hover {
  background-color: #0e2037;
  background-color: #2f3642;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menubar .toolPro {
  height: auto;
  border-right: none;
}

.menubar .power img:hover {
  -webkit-filter: drop-shadow(0px 0px 2px white);
          filter: drop-shadow(0px 0px 2px white);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

h4 {
  padding-top: auto;
  padding-bottom: auto;
  margin-bottom: 0;
}

.scanning {
  margin-top: 50px;
}

.scanButton, .lockedService {
  height: 200px;
  width: 33%;
  background-color: #13243a;
  background-color: #0c1b2f;
  background-color: #3f4752;
  border-radius: 6px;
}

.scanButton:hover, .lockedService:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.quickLink {
  text-decoration: none;
}

.webProtection {
  width: 66.5%;
  background-color: #0c1b2f;
  background-color: #3f4752;
  height: 105px;
  padding-left: 40px;
  border-radius: 6px;
}

.webProtection:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-check-input:checked {
  background-color: #4dd163;
  background-color: #53ff5c;
  border-color: #4dd163;
  border-color: #53ff5c;
  border-top-color: #4dd163;
  border-right-color: #4dd163;
  border-bottom-color: #4dd163;
  border-left-color: #4dd163;
}

.browserOption {
  color: white;
  font-size: 18px;
}

.update {
  width: 33%;
  padding-left: 0;
  border-radius: 6px;
}

.update:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pro {
  height: auto;
  background-color: #0c1b2f;
  background-color: #3f4752;
  border-radius: 6px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 0;
}

.pro:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.description h3 {
  color: white;
  padding-left: 25px;
  margin-bottom: 0;
}

.description p {
  color: white;
  padding-left: 25px;
  margin-bottom: 0;
}

.trialButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trialButton a {
  color: white;
  font-size: 18px;
}

.btn-success, .btn-success:hover {
  background-color: #e8b923;
  border: 1px solid #e8b923;
  font-size: 18px;
  color: #212529;
}

.btn-success:hover {
  opacity: 70%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.badge {
  background-color: #e8b923 !important;
  color: #212529;
}

.lockedService {
  height: 100px;
  width: 24.7%;
}

.lockedService h4 {
  color: #658b97;
  line-height: 50px;
}

.lockedService:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

.creditos {
  color: white;
  margin-top: 20px;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */