* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

h4 {
  color: white;
  font-size: 22px;
}

h6 {
  color: white;
  margin-bottom: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.topBar {
  background-color: #212529;
  height: 30px;
  padding: 0;
}

.topBar .language {
  margin-right: 20px;
  cursor: pointer;
}

.topBar .language .languageOption {
  padding-left: 10px;
}

.topBar h6 {
  margin-right: 50px;
}

.menuBar {
  width: 190px;
  height: 96vh;
  color: white;
  padding: 0;
  background-color: #212529;
}

.menuBar .tool {
  height: auto;
  border-right: none;
  cursor: pointer;
}

.menuBar .toolPro {
  height: auto;
  border-right: none;
}

.menuBar .toolPro h6 {
  color: #7d8a9b;
}

.menuBar .power img {
  cursor: pointer;
}

.menuBar .power img:hover {
  -webkit-filter: drop-shadow(0px 0px 2px white);
          filter: drop-shadow(0px 0px 2px white);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

h4 {
  padding-top: auto;
  padding-bottom: auto;
  margin-bottom: 0;
}

.scanning {
  margin-top: 50px;
}

.scanButton, .lockedService {
  height: 205px;
  width: 33%;
  background-color: #3f4752;
  border-radius: 6px;
  padding-top: 5px;
  cursor: pointer;
}

.scanButton p, .lockedService p {
  color: #b8c3c9;
  font-size: 15px;
  margin-bottom: 0;
}

.scanButton:hover, .lockedService:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.webProtection {
  width: 66.5%;
  background-color: #3f4752;
  height: 105px;
  padding-left: 40px;
  border-radius: 6px;
}

.webProtection:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-check-input:checked {
  background-color: #4dd163;
  background-color: #53ff5c;
  border-color: #4dd163;
  border-color: #53ff5c;
  border-top-color: #4dd163;
  border-right-color: #4dd163;
  border-bottom-color: #4dd163;
  border-left-color: #4dd163;
}

.browserOption {
  color: white;
  font-size: 18px;
}

.update {
  width: 33%;
  padding-left: 0;
  padding-right: 0;
  border-radius: 6px;
  cursor: pointer;
}

.position {
  height: 105px;
  position: absolute;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #198754;
  border-radius: 6px;
  padding-left: 0;
  padding-right: 0;
  -webkit-animation: animate 20s ease-out;
          animation: animate 20s ease-out;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

.spin {
  -webkit-animation: spin 20s linear;
          animation: spin 20s linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5400deg);
            transform: rotate(5400deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5400deg);
            transform: rotate(5400deg);
  }
}

.pro {
  height: auto;
  background-color: #3f4752;
  border-radius: 6px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 0;
}

.pro:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.description h3 {
  color: white;
  padding-left: 25px;
  margin-bottom: 0;
}

.description p {
  color: white;
  padding-left: 25px;
  margin-bottom: 0;
}

.trialButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trialButton a {
  color: white;
  font-size: 18px;
  padding-top: 10px;
}

.btn-success, .btn-success:hover {
  background-color: #e8b923;
  border: 1px solid #e8b923;
  font-size: 18px;
  color: #212529;
}

.btn-success:hover {
  opacity: 70%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.badge {
  background-color: #e8b923 !important;
  color: #212529;
}

.lockedService {
  height: 100px;
  width: 24.7%;
  cursor: default;
}

.lockedService h4 {
  color: #7d8a9b;
  line-height: 50px;
}

.lockedService:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

.creditos {
  color: white;
  margin-top: 20px;
  text-align: center;
}

.detectionList {
  margin-top: 150px;
}

.t1 {
  width: 20%;
}

.t2 {
  width: 10%;
}

.t3 {
  width: 10%;
}

.t4 {
  width: 30%;
}

.remove {
  height: 60px;
  border-radius: 6px;
  color: white;
  font-size: 22px;
  background-color: #198754;
  border: none;
}

.remove:hover {
  color: white;
  background-color: #198754;
  border: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.active {
  background-color: #2c2e43;
}

/* ---- reset ---- */
canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 96vh;
  background-color: #2c2e43;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/*# sourceMappingURL=styles.css.map */